
<div class="body">
        <form action="/create" method="POST">
            
            <h2>Title</h2>
            <input  name="title" 
            type="text"
            required="required">
            
            <h2>Author</h2>
            <input name="Author"
             type="text"
              required="required">
            <button type="submit">Create Entry</button>
        </form>
</div>